.container-fluid{
  margin: 0 auto;
  margin-top: 15vh;
}

.wid{
  width: 600px;
  height: auto;
  background: #e4e4e4;
  border-radius: 11px;
  padding-bottom: 15px;
  -webkit-box-shadow: -5px 10px 37px 1px rgba(0,0,0,0.74);
     -moz-box-shadow: -5px 10px 37px 1px rgba(0,0,0,0.74);
          box-shadow: -5px 10px 37px 1px rgba(0,0,0,0.74);
}

.quote{
  width: auto;
  height: auto;
  min-height: 100px;
}

.buttons{
  display: flex;
}
div{
  padding: 5px;
}

/*faded horizantal line*/
hr{
  border: 0!important;
  height: 1px!important;
  background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
}
